.initially-hidden {
  display: none;
}
.clickable {
  cursor: pointer;
  color: blue;
}
.clickable:hover {
  text-decoration: underline;
}
h1{
  color: red;
}

.background-green {
  background: green;
}

.background-yellow {
  background: yellow;
}

.background-red {
  background: red;
}
